global
	log 127.0.0.1 local0 info
	maxconn {{ _haproxy.global_max_connections }}
	user {{ _haproxy.user }}
	group {{ _haproxy.group }}
	daemon
	# nbproc 1
	# chroot /usr/local/haproxy
	# pidfile /var/run/haproxy.pid

defaults
	log global
	mode tcp
	option tcplog
	option dontlognull
	option redispatch
	retries 3
	maxconn {{ _haproxy.defaults_max_connections }}
	timeout connect 10s
	timeout client 60s
	timeout server 60s

frontend postgres-front
	bind *:{{ _haproxy.frontend_port }}
	mode tcp
	default_backend {{ _haproxy.cluster_name }}

listen  admin-stats
	mode http
	option httplog
	bind *:{{ _haproxy.stats_port }}
	stats enable
	stats refresh 30s
	stats uri /haproxy?stats
        stats realm PostgreSQL HAProxy\ Statistics  # Title text for popup window
        stats show-node
        stats show-legends
        stats show-desc PostgreSQL Load Balancer Stats ( Master )
	stats auth {{ _haproxy.stats_user }}:{{ _haproxy.stats_pass }}

listen  {{ _haproxy.cluster_name }}
	bind *:{{ _haproxy.pgsql_wrapping_port }}
	mode tcp
	option tcplog
	balance {{ _haproxy.balance_algorithm }}
        option pgsql-check user haproxy
    {% for h in groups['workers'] %}
    server {{ h }} {{ hostvars[h][_netdev]['ipv4']['address'] }}:5432 weight 1 check inter 2000 rise 2 fall 3
    {% endfor %}

